section {
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > p {
    margin: 0;
}

section:first-child {
    height: 100vh;
}

section:nth-child(even) {
    background-color: #333;
    color: #EEE;
}

section:nth-child(odd) {
    background-color: #EEE;
}